{% extends 'base2.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <form method="post" action="{% url 'assgnform' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'teachassgn' %}">Return to home</a></p>
{% endblock %}