{% extends 'base2.html' %}
{% block body %}



<div class="container">
    <h1 align="center"><B>Assignments</B></h1><hr>
    <table class="table  table-hover  table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>File</th>
              
            </tr>
        </thead>
        <tbody>
            {% for stud in assgn %} 
                <tr>
                    <td>{{ stud.assgn_title }}</td>
                   
                    <td>{{ stud.date_posted }} </td>
                    <td>
                        <a href="{{ stud.document.url }}"  class="btn btn-primary" >Download File</a>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

</div>



{% endblock %}