{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}E classroom{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% if user.is_authenticated and user.is_teacher %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/teachers.css' %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
    {% endif %}
</head>
<body>
<!--  -->
<!--Name-->
  <nav class="navbar navbar-expand-sm  fixed-top" style="background-color: blue">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:rgb(250, 248, 248) ;font-family: 'Satisfy', 'cursive' ;">&nbsp &nbsp   
      <B><U>E Classroom</U></B></a>
    </div>
    <!--Navbar elements-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}" style="color:rgb(250, 248, 248)">
          <span class="fa fa-home fa-lg" aria-hidden="true" ></span> Home</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="{% url 'aboutus' %}" style="color:rgb(250, 248, 248)"> About</a>
        </li>   
        

        <li class="nav-item">
            <a  class="nav-link" href="{% url 'subject' %}" style="color:rgb(250, 248, 248)">Attendance</a>
          </li> 

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#" style="color:rgb(250, 248, 248)">My Administration 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><center>Edit Assignment</center></a></li><hr>
            <li><a href="#"><center>Page 1-1</center></a></li><hr>
            <li><a href="#"><center>Page 1-1</center></a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#" style="color:rgb(250, 248, 248)">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"<center>Page 1-1</center></a></li><hr>
            <li><a href="#"><center>Page 1-1</center></a></li><hr>
            <li><a href="#"><center>Page 1-1</center></a></li>
          </ul>
        </li> -->
        <li class="nav-item" ><a class="nav-link" href="{% url 'logout' %}" style="color:rgb(250, 248, 248)"><span class="fa fa-sign-out fa-lg" ></span>&nbsp Logout</a></li>
      </ul>
      <div class="col-6 text-right">
          {% if user.is_authenticated %}
            <p class="pt-3" style="color:rgb(250, 248, 248)">@ <strong>{{ user.username }}</strong><a href="{% url 'logout' %}"></a></p>
            
          {% endif %}
        </div>
    </div>
    
  </nav>
 
      <div class="container-fluid my-5">
          <div class="row">
            <br>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12">
              <div class="row">
                <div class="col-6">
                  <h1 class="logo">
                    <a href="{% url 'home' %}">
                      {% if user.is_authenticated %}
                        {% if user.is_teacher %}
                          <span class="" data-toggle="tooltip" data-placement="right" title="Teacher profile"></span>
                        {% else %}
                          <span class="" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
                        {% endif %}
                      {% endif %}
                    </a>
                  </h1>
                </div> 
                
              </div>
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
              {% block body %}
              {% endblock %}
            </div>
          </div>
        </div><br><br><br><br><br><br><br><br><br><br><br>
      
 
  
  <div class="container-fluid" style="background-color:#454c5a">
    <footer class="container"><br><br>
      <p style="color:rgb(250, 248, 248)">Posted by: Hege Refsnes</p>
      <p style="color:rgb(250, 248, 248)">Contact information: <a href="mailto:someone@example.com" style="color:rgb(250, 248, 248)">someone@example.com</a></p><br><br><br><br<br>
    </footer>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
</body>
</html>
