{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block body %}

{% load static %}

<link rel = "stylesheet" href = "{% static 'css/datepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>

<div class="container-fluid ">
    <div class="container-fluid ">
            <h2 align='center'><B>Attendance Report</B></h2>
            <!-- <p><strong>Note: </strong>Mark for Present Students only.</p> -->
    </div> 

    <div class="col-lg-7">
            <form class = "form-inline input-lg" action="{% url 'attendence' %}" method="get" accept-charset="utf-8">
                <input id = "input_date_from" data-toggle="datepicker" class = "form-control form-control-lg" name = "date_from" type="text" size = "10" placeholder="From">&nbsp;&nbsp;
                <input id = "input_date_to" data-toggle="datepicker" class = "form-control form-control-lg" name = "date_to" type="text" size = "10" placeholder="To">&nbsp;&nbsp;
                <!-- <input id = "input_sub" class = "form-control form-control-lg" name = "sub" type="text" size = "15" placeholder="Search">&nbsp;&nbsp; -->
                <select class = "custom-select form-control form-control-lg" name = "input_subject">
                        <option>Select Subject</option>
                        <option>Maths</option>
                        <option>COA</option>
                        <option>CN</option>
                        <option>OS</option>
                        <option>Python</option>
                        <option>AT</option>
                        <!-- <option>DC</option>
                        <option>RR</option>
                        <option>KXIP</option> -->
                    </select>&nbsp;&nbsp;
                <button class="btn btn-primary" type="submit">Search</button>            
            </form>
        </div>

        <script>
                $('[data-toggle="datepicker"]').datepicker();
            </script>
    <br>
            
        
    <h4>From: {{ date_from }} &nbsp;&nbsp;&nbsp;&nbsp; To: {{ date_to }} &nbsp;&nbsp;&nbsp;&nbsp; 
        {% if 'Select Subject' in subject %}
        Subject: All
        {% else %}
        Subject: {{ subject }}
        {% endif %}
    </h4>

        <table id = "tbl" class="table  table-hover  table-bordered">
            <thead>
                <tr>
                <th>Date</th>                    
                  <th>Student Name</th>                  
                  <th>Subject</th>                  
                  <th>Attendance</th>                  
                  
                  
                </tr>
            </thead>

            <tbody>
                {% for stu in studlist %}
                
                    <tr>
                        <td>{{ stu.class_date|date:"D d M Y" }} </td>
                        <td>{{ stu.student }} </td>
                        <td>{{ stu.subject }} </td>
                        <td>{% if stu.is_present %} 
                            P
                            {% else %}
                            A
                            {% endif %}
                        </td>
                        <!-- <td>{{ stud.attendence }}</td> -->
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <center>
        </center>
    </form>

</div>



{% endblock %}