{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block body %}



<div class="container-fluid ">
    <div class="container-fluid ">
            <h2 align='center'><B>{{ subject }} Attendance</B></h2>
            <p><strong>Note: </strong>Mark for Present Students only.</p>
    </div> 
    <form method = "post" action = "{% url 'submit' subject %}">
            {% csrf_token %}
        <table class="table  table-hover  table-bordered">
            <thead>
                <tr>
                  <th>Student Name</th>                  
                  <th>{{date}}</th>
                  
                </tr>
            </thead>

            <tbody>
                {% for stu in stud %}
                
                    <tr>
                        <td>{{ stu.student }} </td>
                        <!-- <td>{{ stud.attendence }}</td> -->
                        <td> <input type="checkbox" name="checks[]" value="{{ stu.id }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <center><input type = "submit" value = "Mark Attendence">
        </center>
    </form>

</div>
{% endblock %}