{% extends 'base2.html' %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid ">
    <div class="container-fluid ">
            <h2 align='center'><B>Subject List</B></h2>
    </div> 
<div class = "container">
    <a href = "{% url 'attendence' %}"><button class = "btn btn-primary btn-lg">Attendence Report</button></a>
    
</div>

<br>

        <table class="table  table-hover  table-bordered">
            <thead>
                <tr>
                  <th>Subjects</th>
                  <th></th>
                  
                </tr>
            </thead>
            <tbody>
                {% for stub in sub_list %}
                    <tr>
                        <td>{{ stub }} </td>
                        <td> <a href="{% url 'record_attendence' stub %}" class="btn btn-primary"  >Mark Attendence
                        </a></td>                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       
    
   

</div>

{% endblock%}